html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;

    background-color: aqua;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR DE MAIN QUE CONTIENE TODA LA GAMEBOY */

#gameBoxInv {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    /* background-color: #f6f8ff; */
    /* background-color: red; */
    width: 22.5rem;
    /*  5.62rem;*/
    height: 37rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;


    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */


}


#gameBoxPrint {

    position: absolute;
    /*     background-color: #f6f8ff; */

    border-radius: 1.2rem 1.2rem 4.8rem 1.2rem;

    width: 22.1rem;
    /*  5.62rem;*/
    height: 37rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;

    /* Sombra sobre fondo de la GAMEBOY */
    box-shadow: rgba(240, 46, 170, 0.4) 1.5rem 1.5rem, rgba(240, 46, 170, 0.3) 3rem 3rem, rgba(240, 46, 170, 0.2) 4.5rem 4.5rem, rgba(240, 46, 170, 0.1) 6rem 6rem, rgba(240, 46, 170, 0.05) 7.5rem 7.5rem;
}


/* CONTENEDOR MITAD TOP DEL CUERPO DE LA GAMEBOY */

#gameBoxToptop {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: absolute;

    background-image: url(../img/texture-1.png);
    background-color: rgba(216, 220, 232, 1);
    background-blend-mode: color-burn;

    background-size: cover;
    display: block;
    max-width: 100%;

    width: 22.5rem;
    /*  5.62rem;*/
    height: 1.2rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    border-radius: 0.7rem 0.7rem 0.1rem 0.1rem;
    transform: translate(0, 0rem);

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */

}

#lineaTop {

    position: absolute;
    background-color: rgba(216, 220, 232, 1);
    width: 22.1rem;
    height: 0.3rem;

    transform: translate(0rem, 1.2rem);

    box-shadow: inset 0.0rem 0.03rem 0.15rem 0.03rem;

}

#lineaTopL {

    position: absolute;
    background-color: rgba(216, 220, 232, 1);
    width: 0.3rem;
    height: 1.2rem;

    transform: translate(10rem, 0rem);

    box-shadow: inset 0.03rem 0rem 0.1rem 0.03rem;
    border-radius: -0.1rem -0.1rem 0.1rem 0.1rem;

}

#lineaTopR {

    position: absolute;
    background-color: rgba(216, 220, 232, 1);
    width: 0.3rem;
    height: 1.2rem;

    transform: translate(-10rem, 0rem);

    box-shadow: inset 0.03rem 0rem 0.1rem 0.03rem;
    border-radius: -0.1rem -0.1rem 0.1rem 0.1rem;

}

#gameBoxTop {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    background-image: url(../img/texture-1.png);
    background-color: rgba(216, 220, 232, 1);
    background-blend-mode: color-burn;

    background-size: cover;
    display: block;
    max-width: 100%;

    width: 22.5rem;
    /*  5.62rem;*/
    height: 18.2rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.1rem 0.1rem 0rem 0rem;
    transform: translate(0, 1.4rem);

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */

}



#marco {
    position: absolute;
    background-color: rgba(100, 111, 120, 0.1);
    width: 19.80rem;
    height: 14.50rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, -1rem);

    border-radius: 0.5rem 0.5rem 3.7rem 0.5rem;

    box-shadow: inset 0.1rem 0.1rem 0.4rem 0.010rem;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#marcoTop {

    position: absolute;
    background-color: rgba(120, 131, 140, 1);
    width: 19.60rem;
    height: 14.30rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, -0.9rem);

    border-radius: 0.5rem 0.5rem 3.7rem 0.5rem;

    /*     box-shadow:  -0.1em -0.1em  0.2rem 0.1rem rgb(51, 56, 61); */

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#lineaRojaTop1 {
    background-color: rgba(240, 46, 170, 1);
    width: 7rem;
    height: 0.05rem;
    transform: translate(-5.5rem, -6.4rem);
}

#lineaRojaTop2 {
    background-color: rgba(240, 46, 170, 1);
    width: 3rem;
    height: 0.05rem;
    transform: translate(14.95rem, 0rem);
}

#lineaAzulTop1 {
    background-color: rgb(46, 78, 240);
    width: 7rem;
    height: 0.2rem;
    transform: translate(-5.5rem, -6.2rem);
}

#lineaAzulTop2 {
    background-color: rgb(46, 78, 240);
    width: 3rem;
    height: 0.2rem;
    transform: translate(14.95rem, 0rem);
}


#led {
    position: absolute;
    background-color: rgb(49, 5, 5);
    width: 0.5rem;
    height: 0.5rem;

    transform: translate(-8.3rem, -1.8rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#ledTop {
    position: absolute;
    background-color: red;
    width: 0.3rem;
    height: 0.3rem;

    transform: translate(-8.3rem, -1.77rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#ledTxt {
    position: absolute;
    color: white;
    font-size: 0.45rem;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 0.3rem; */
    /* height: 0.3rem; */

    transform: translate(-7.8rem, -0.85rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#topTxt {

    position: absolute;
    color: white;
    font-size: 0.45rem;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 0.3rem; */
    /* height: 0.3rem; */

    transform: translate(2rem, -6.3rem);
}

#pantallaCSS {
    position: absolute;
    background-color: rgb(138, 160, 44, 1);
    width: 11.75rem;
    height: 10.75rem;
    transform: translate(0, -1rem);
    /* añadir shadow in */
    /* inset | offset-x | offset-y | color */
    box-shadow: inset 0.15rem 0.03rem 0.4rem 0.05rem;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */

}

#txtBottom1 {
    position: absolute;
    color: blue;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 0.3rem; */
    /* height: 0.3rem; */

    transform: translate(-8.3rem, 7.23rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#txtBottom2 {
    position: absolute;
    color: blue;
    font-weight: lighter;
    font-size: 1.15rem;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 0.3rem; */
    /* height: 0.3rem; */

    transform: translate(-3.35rem, 7.15rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#txtBottom3 {
    position: absolute;
    color: blue;
    font-weight: bold;
    font-size: 0.40rem;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 0.3rem; */
    /* height: 0.3rem; */

    transform: translate(-0.10rem, 7.4rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

/* CONTENEDOR MITAD BOTTOM DEL CUERPO DE LA GAMEBOY */

#gameBoxBottom {
    /*     position: absolute;
    background-color: rgba(216, 220, 232, 0.5); */

    position: absolute;
    background-image: url(../img/texture-1.png);
    background-color: rgba(216, 220, 232, 1);
    background-blend-mode: color-burn;


    background-size: cover;
    display: block;
    max-width: 100%;

    width: 22.5rem;
    /*  5.62rem;*/
    height: 17.5rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;
    transform: translate(0, 19.55rem);

    border-radius: 0rem 0rem 4.8rem 1.2rem;


    /*    border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

/* -------------- PANEL DE BOTONES ----------------- */

#panel {

    position: absolute;

    width: 19.8rem;
    /*  5.62rem;*/
    height: 12rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    transform: translate(0, 1rem);

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

/* CRUCETA */

#crucetaMarco {
    position: absolute;
    width: 6rem;
    height: 6rem;
    transform: translate(0rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#crucetaH {
    position: absolute;
    background-color: rgb(10, 10, 10);
    width: 2rem;
    height: 6rem;
    /* transform: translate(100%, 0%); */
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}

#crucetaV {
    position: absolute;
    background-color: rgb(10, 10, 10);
    width: 6rem;
    height: 2rem;
    /* transform: translate(0%, 100%); */
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}

#crucetaHtf {
    position: absolute;
    background-color: rgb(30, 30, 30);
    width: 5.6rem;
    height: 1.6rem;
    transform: translate(0%, 0%);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaVtf {
    position: absolute;
    background-color: rgb(30, 30, 30);
    width: 1.6rem;
    height: 5.6rem;
    transform: translate(0%, 0%);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaHt1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 0.3rem;
    height: 1.3rem;
    transform: translate(-2.2rem, 0);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaVt1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1.3rem;
    height: 0.3rem;
    transform: translate(0, -2.2rem);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaHt2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 0.3rem;
    height: 1.3rem;
    transform: translate(-1.4rem, 0);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaVt2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1.3rem;
    height: 0.3rem;
    transform: translate(0, -1.4rem);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaHt3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 0.3rem;
    height: 1.3rem;
    transform: translate(2.2rem, 0);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaVt3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1.3rem;
    height: 0.3rem;
    transform: translate(0, 2.2rem);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaHt4 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 0.3rem;
    height: 1.3rem;
    transform: translate(1.4rem, 0);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaVt4 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1.3rem;
    height: 0.3rem;
    transform: translate(0, 1.4rem);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaC {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(0, 0rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#crucetaCc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1rem;
    height: 1rem;
    transform: translate(0, 0rem);
    border-radius: 1rem 1rem 1rem 1rem;
}

#crucetaHtop {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.5);
    background-blend-mode: multiply;
    width: 5.6rem;
    height: 1.6rem;
    transform: translate(0%, 0%);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#crucetaVtop {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.5);
    background-blend-mode: multiply;
    width: 1.6rem;
    height: 5.6rem;
    transform: translate(0%, 0%);
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

}

/* -----------------START / SELECT-------------------------------- */

#startMarcoPos {
    transform: translate(6rem, 6rem);
}

#startMarco {
    position: absolute;
    width: 6rem;
    height: 6rem;
    /*     transform: translate(6rem, 6rem); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#start {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(0rem, -1rem);

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    /*     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#select {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(3.4rem, 1rem);

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#startTop {
    position: absolute;
    width: 2.9rem;
    height: 0.5rem;
    transform: translate(0.10rem, -0.98rem);

    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    /*     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#selectTop {
    position: absolute;
    width: 2.9rem;
    height: 0.5rem;
    transform: translate(3.46rem, 1.02rem);

    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#startTxt {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(0rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: blue;
    font-size: 0.80rem;
    font-family: Arial, Helvetica, sans-serif;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#selectTxt {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(3.4rem, 2rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: blue;
    font-size: 0.80rem;
    font-family: Arial, Helvetica, sans-serif;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

/* ----------------- A / B -------------------------------- */

#botonesMarcoPos {
    transform: translate(14rem, 0rem);
}

#botonesMarco {
    position: absolute;
    width: 6rem;
    height: 6rem;
    /*     transform: translate(6rem, 6rem); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#botonesMarcoPan {
    position: absolute;
    width: 7.8rem;
    height: 3.6rem;
    transform: translate(-1.6rem, -1rem);
    border-radius: 3rem 3rem 3rem 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */
    background: linear-gradient(120deg, #544e4e92 1%, #e8dfdf64 20%, #e8dfdf64 80%, #ffffff5b 100%);

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */

}

#botonA {
    position: absolute;
    width: 3rem;
    height: 3rem;
    transform: translate(-1.4rem, -1rem);
    background-color: lightgray;
    box-shadow: inset 0.2rem 0.5rem 1rem 0.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#botonB {
    position: absolute;
    width: 3rem;
    height: 3rem;
    transform: translate(3rem, -1rem);
    background-color: lightgray;
    box-shadow: inset 0.2rem 0.5rem 1rem 0.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#botonATop {
    position: absolute;
    width: 2.9rem;
    height: 2.9rem;
    transform: translate(-1.3rem, -1rem);
    background-color: purple;
    background: radial-gradient(circle at 85%, rgb(213, 2, 213), rgb(193, 2, 193) 50%, rgb(222, 117, 222) 100%, rgb(239, 6, 239) 99.9%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    /*     transform: rotate(160deg); */

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#botonBTop {
    position: absolute;
    width: 2.9rem;
    height: 2.9rem;
    transform: translate(3.1rem, -1rem);
    background: radial-gradient(circle at 85%, rgb(213, 2, 213), rgb(193, 2, 193) 50%, rgb(222, 117, 222) 100%, rgb(239, 6, 239) 99.9%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    /*     border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#botonATxt {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(-1.4rem, 1rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: blue;
    font-size: 0.80rem;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    /*     transform: rotate(160deg); */

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#botonBTxt {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(3rem, 1rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: blue;
    font-size: 0.80rem;
    font-family: Arial, Helvetica, sans-serif;


    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;


    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

/* --------------- BORDE SPEAKER ------------------ */

#gameBoxBottomBordePos {
    transform: translate(-2.8rem, 11.5rem);
}

#gameBoxBottomBorde {

    position: absolute;
    width: 14rem;
    height: 6rem;

    /* background-color: black; */

    border-radius: 0rem 0rem 4.8rem 0rem;

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */

    /* box-shadow: inset 0.1rem 0.1rem 1rem 1rem; */

    /*    background: linear-gradient(330deg, blue, rgba(255, 255, 255, 0));; */
    background: linear-gradient(330deg, #998d8d3b 35%, #e8dfdf64 38%, #ffffff00 41%);


    /* Agrega una máscara para definir la forma */
    /*      -webkit-mask: radial-gradient(circle at bottom, transparent 50%, black 100%);
    mask: radial-gradient(circle at bottom, transparent 50%, black 100%);  */

}

/* -----------------SPEAKER---------------------- */

#speakerMarcoPos {
    transform: translate(-0.8rem, 12.6rem);
}

#speakerMarco {
    position: absolute;
    width: 9rem;
    height: 6rem;
    /*     transform: translate(6rem, 6rem); */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* border-style: dotted;
    border-width: 0.1rem;
    border-color: red; */
}

#speakerL1 {
    position: absolute;
    width: 0.5rem;
    height: 3.7rem;
    transform: translate(0.8rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
    background-color: rgba(186, 190, 202, 1);
    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;


}

#speakerL1h {
    position: absolute;
    width: 0.2rem;
    height: 2.7rem;
    transform: translate(0rem, -0.38rem);

    background-color: black;

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;

    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;
}

#speakerL2 {
    position: absolute;
    width: 0.5rem;
    height: 3.7rem;
    transform: translate(2rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
    background-color: rgba(186, 190, 202, 1);
    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;

}

#speakerL2h {
    position: absolute;
    width: 0.2rem;
    height: 2.7rem;
    transform: translate(0rem, -0.38rem);

    background-color: black;

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;

    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;
}

#speakerL3 {
    position: absolute;
    width: 0.5rem;
    height: 3.7rem;
    transform: translate(3.2rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
    background-color: rgba(186, 190, 202, 1);
    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;

}

#speakerL3h {
    position: absolute;
    width: 0.2rem;
    height: 2.7rem;
    transform: translate(0rem, -0.38rem);

    background-color: black;

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;

    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;
}

#speakerL4 {
    position: absolute;
    width: 0.5rem;
    height: 3.7rem;
    transform: translate(4.4rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
    background-color: rgba(186, 190, 202, 1);
    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;


}

#speakerL4h {
    position: absolute;
    width: 0.2rem;
    height: 2.7rem;
    transform: translate(0rem, -0.38rem);

    background-color: black;

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;

    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;
}

#speakerL5 {
    position: absolute;
    width: 0.5rem;
    height: 3.7rem;
    transform: translate(5.6rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
    background-color: rgba(186, 190, 202, 1);
    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;


}

#speakerL5h {
    position: absolute;
    width: 0.2rem;
    height: 2.7rem;
    transform: translate(0rem, -0.38rem);

    background-color: black;

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;

    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;
}

#speakerL6 {
    position: absolute;
    width: 0.5rem;
    height: 3.7rem;
    transform: translate(6.8rem, 0rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     align-items: center; */

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
    background-color: rgba(186, 190, 202, 1);
    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;


}

#speakerL6h {
    position: absolute;
    width: 0.2rem;
    height: 2.7rem;
    transform: translate(0rem, -0.38rem);

    background-color: black;

    border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;

    box-shadow: inset 0.07rem 0.07rem 0.2rem 0.01rem;
}

/* /////////BOTONES JAVASCRIPT///////////// */

#actionScreen{
    position: absolute;
    width: 11.75rem;
    height: 10.75rem;
    transform: translate(0rem, 4.16rem);
    /* background-size: cover; */
    background-color: red;
}

#actionOnOff{
    position: absolute;
    background-color: red;
    width: 0.8rem;
    height: 0.8rem;
    transform: translate(-8.2rem, 7.5rem);
    border-radius: 50%;
}

#actionTop {
    position: absolute;
    background-color: red;
    width: 1.6rem;
    height: 2rem;
    transform: translate(-6.9rem, 20.8rem);
    border-radius: 0.1rem 0.1rem 0.3rem 0.3rem;
}

#actionRight {
    position: absolute;
    background-color: red;
    width: 2rem;
    height: 1.6rem;
    transform: translate(-5.1rem, 22.75rem);
    border-radius: 0.3rem 0.1rem 0.1rem 0.3rem;
}

#actionBottom {
    position: absolute;
    background-color: red;
    width: 1.6rem;
    height: 2rem;
    transform: translate(-6.9rem, 24.4rem);
    border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
}

#actionLeft {
    position: absolute;
    background-color: red;
    width: 2rem;
    height: 1.6rem;
    transform: translate(-8.8rem, 22.75rem);
    border-radius: 0.1rem 0.3rem 0.3rem 0.1rem;
}


#actionA {
    position: absolute;
    width: 3rem;
    height: 3rem;
    transform: translate(7.8rem, 20.4rem);
    background-color: red;
    /* box-shadow: inset 0.5rem 0.2rem 1rem 0.2rem; */
    /* Sombra invertida */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

#actionB {
    position: absolute;
    width: 3rem;
    height: 3rem;
    transform: translate(4rem, 22.6rem);
    background-color: red;
    /* box-shadow: inset 0.5rem 0.2rem 1rem 0.2rem; */
    /* Sombra invertida */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

}

#actionStart {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(-13.55rem, 25.85rem);
    rotate: 330deg;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#actionSelect {
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    transform: translate(-17rem, 23.85rem);
    rotate: 330deg;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}


/* ----------CLASS PARA ROTACION-------------- */

.rotated {
    transform: rotate(330deg);
}


/* ----------------Código David Mod----------------------------------------  */

/* 
body {
    margin: 0;
    padding: 0;

    background-color: beige;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    height: 10em;
    width: 10em;

    background-color: black;

    border-radius: 0.4em;

    margin-bottom: 2em;
}

.red {
    height: 10em;
    width: 10em;

    background-color: red;

    border-radius: 0.2em;

    margin-bottom: 2em;
}

.grey {
    height: 10em;
    width: 10em;

    background-color: grey;

    border-radius: 0.2em;

    margin-bottom: 2em;
}

#screen {
    width: 10em;
    height: 10em;

    background-size: cover;
}

#botones {
    height: 10em;
    width: 40em;

    background-color: darksalmon;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

#botA {
    height: 4em;
    width: 4em;
    
    
    border-radius: 50%;

    background-color: lime;
}

#botB {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: blue;
}

#start {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(0, 255, 229);
}

#select {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(246, 255, 0);
}

#onOff {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(255, 0, 200);
}

 */

/* --------------------------------------------------------  */