body {
    margin: 0;
    padding: 0;

    background-color: aqua;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoxInv {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    /*     background-color: #f6f8ff; */
/*     background-color: red; */
    width: 22.5rem;
    /*  5.62rem;*/
    height: 37rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;

    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;
}

#gameBoxTop {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    background-color: rgba(216,220, 232, 1);

    width: 22.5rem;
    /*  5.62rem;*/
    height: 24.5rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;

    border-radius: 1.2rem 1.2rem 0rem 0rem; 

    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;
    
}



#marco {
    position: absolute;
    background-color:  rgba(100, 111, 120, 1);
    width: 18.75rem;
    height: 15.75rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 23%);

    border-radius: 0.5rem 0.5rem 3.7rem 0.5rem; 

    box-shadow: inset 0.1em 0.1em 1rem 1rem;
    
    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;
}

#marcoSombra {
    position: absolute;
    background-color:  rgba(100, 111, 120, 1);
    width: 18.60rem;
    height: 15.60rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 0%);

    border-radius: 0.5rem 0.5rem 3.7rem 0.5rem; 

    box-shadow:  -0.1em -0.1em  0.2rem 0.1rem rgb(51, 56, 61);

    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;
}

#pantalla {
    position: absolute;
    background-color: rgb(138, 160, 44, 1);
    width: 11.75rem;
    height: 10.75rem;
    transform: translate(0%, 0%);
    /* añadir shadow in */
    /* inset | offset-x | offset-y | color */
    box-shadow: inset 0.2em 0.1em 0.4rem 0.07rem;

    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;

}


#gameBoxBottom {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    background-color: rgba(216,220, 232, 1);

    width: 22.5rem;
    /*  5.62rem;*/
    height: 14.5rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
/*     justify-content: center;
    align-items: center; */
/*     transform: translate(0%, 0%); */

    border-radius: 0rem 0rem 4.8rem 1.2rem; 

    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;
}

#crucetaMarco{

    position: absolute;
    width: 6rem;
    height: 6rem;
    transform: translate(30%, 10%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: dotted;
    border-width: 0.1rem;
    border-color: red;

}

#crucetaH{

    position: absolute;
    background-color: rgb(45, 52, 51);
    width: 2rem;
    height: 6rem;
    /* transform: translate(100%, 0%); */

}

#crucetaHt1{

    position: absolute;
    background-color: rgb(51, 177, 158);
    width: 2rem;
    height: 6rem;
    transform: translate(100%, 0%);

}

#crucetaV{

    position: absolute;
    background-color: rgb(45, 52, 51);
    width: 6rem;
    height: 2rem;
    /* transform: translate(0%, 100%); */

}

#crucetaVt1{

    position: absolute;
    background-color: rgb(36, 195, 171);
    width: 5rem;
    height: 1.5rem;
    transform: translate(0%, 100%);

}




/* ----------------Código David----------------------------------------  */

/* 
body {
    margin: 0;
    padding: 0;

    background-color: beige;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    height: 10em;
    width: 10em;

    background-color: black;

    border-radius: 0.4em;

    margin-bottom: 2em;
}

.red {
    height: 10em;
    width: 10em;

    background-color: red;

    border-radius: 0.2em;

    margin-bottom: 2em;
}

.grey {
    height: 10em;
    width: 10em;

    background-color: grey;

    border-radius: 0.2em;

    margin-bottom: 2em;
}

#screen {
    width: 10em;
    height: 10em;

    background-size: cover;
}

#botones {
    height: 10em;
    width: 40em;

    background-color: darksalmon;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

#botA {
    height: 4em;
    width: 4em;
    
    
    border-radius: 50%;

    background-color: lime;
}

#botB {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: blue;
}

#start {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(0, 255, 229);
}

#select {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(246, 255, 0);
}

#onOff {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(255, 0, 200);
}

 */

/* --------------------------------------------------------  */