body {
    margin: 0;
    padding: 0;

    background-color: aqua;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoxInv {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    /*     background-color: #f6f8ff; */
    background-color: red;
    width: 22.5rem;
    /*  5.62rem;*/
    height: 37rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;
}

#gameBoxTop {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    background-color: #f6f8ff;

    width: 22.5rem;
    /*  5.62rem;*/
    height: 24.5rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;

    border-radius: 0.5rem 0.5rem 0rem 0rem; 
    
}

#gameBoxBottom {
    /*    Este ID será invisible para poder cuadrar los elementos y las curvas de la GAMEBOY */
    position: relative;
    background-color: #f6f8ff;

    width: 22.5rem;
    /*  5.62rem;*/
    height: 14.5rem;
    /*  9.25rem;  90mmx16/4 para aproximar a rem*/

    display: flex;
    flex-direction: column;
    /*     justify-content: center; */
    align-items: center;
    transform: translate(0%, 0%);

    border-radius: 0rem 0rem 0.5rem 0.5rem; 
}

#marco {
    position: relative;
    background-color: #7780a3;
    width: 18.75rem;
    height: 15.75rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 23%);

    border-radius: 0.5rem 0.5rem 3.7rem 0.5rem; 

}

#pantalla {
    position: absolute;
    background-color: #3b3f31;
    width: 11.75rem;
    height: 10.75rem;
    transform: translate(0%, 0%);
    /* añadir shadow in */

}



/* ----------------Código David----------------------------------------  */

/* 
body {
    margin: 0;
    padding: 0;

    background-color: beige;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    height: 10em;
    width: 10em;

    background-color: black;

    border-radius: 0.4em;

    margin-bottom: 2em;
}

.red {
    height: 10em;
    width: 10em;

    background-color: red;

    border-radius: 0.2em;

    margin-bottom: 2em;
}

.grey {
    height: 10em;
    width: 10em;

    background-color: grey;

    border-radius: 0.2em;

    margin-bottom: 2em;
}

#screen {
    width: 10em;
    height: 10em;

    background-size: cover;
}

#botones {
    height: 10em;
    width: 40em;

    background-color: darksalmon;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

#botA {
    height: 4em;
    width: 4em;
    
    
    border-radius: 50%;

    background-color: lime;
}

#botB {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: blue;
}

#start {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(0, 255, 229);
}

#select {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(246, 255, 0);
}

#onOff {
    height: 4em;
    width: 4em;

    border-radius: 50%;

    background-color: rgb(255, 0, 200);
}

 */

/* --------------------------------------------------------  */